*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


.top{
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding:5px 10px;
}
.top a{
    color: white;
    font-size: 10px;
}
.logo{
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid grey;
}
.logo>img{
    width: 130px;
    margin-right: 215px;
}
.logo>p{
    font-size: 15px;
    color: grey;
}
.logo>p>a{
    color: grey;
}



.section{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.section>div>a{
   margin-left: 50px;
   text-decoration: none;
   color: black;
   font-weight: bold;
}


.women:hover .womenhide{
    visibility: visible;
   transition: all 0.5s;
}

.womenhide{
    position: absolute;
    visibility: hidden;
    
}
.womenhide{
    /* border: 1px solid red; */
    background-color: white;
    width: 96.7%;
    display: flex;
    justify-content: space-evenly;
    left: 0px;
    padding: 20px;
}
.womenhide a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.409);
}
.womenhide>img{
    height: 350px;
    margin-top: 10px;
}
.womenhide h5{
    margin-top: 10px;
}


/* MENS PROPERTY */
.mens:hover .menhide{
    visibility: visible;
   transition: all 0.5s;
}

.menhide{
    position: absolute;
    visibility: hidden;
    
}

.menhide{
    /* border: 1px solid red; */
    background-color: white;
    width: 96.7%;
    display: flex;
    justify-content: space-evenly;
    left: 0px;
    padding: 20px;
}
.menhide a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.409);
}
.menhide>img{
    height: 350px;
    margin-top: 10px;
}
.menhide h5{
    margin-top: 10px;
}


/* Image */



/* Image */

.discount{
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.childDiscount1{
    /* border: 1px solid blue; */
    margin-left: 90px;
}
.childDiscount1>p:nth-child(1){
    font-size: 30px;
}
.childDiscount1>p:nth-child(2){
    font-size: 50px;
}
.childDiscount2{
    margin-right: 50px;
}
.childDiscount2>p{
    font-size: 11px;
}
.childDiscount2>a{
    color: white;
}

/* Image */
.difClothes{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px auto;
}

.difClothes img{
    width: 100%;
}
.difClothes a{
   color: black;
}

/* image */

.styleClothes+p{
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}


/* image */
.styleClothes{
    /* border: 1px solid red; */
    width: 63%;
    margin:30px auto;  
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.styleClothes img{
    width: 100%;
}
.styleClothes p{
    font-size: 30px;
    margin: 15px 0px;
    font-weight: 600;
}

.styleClothes a{
    color: black;
    font-size: 18px;
}

/* image */
.icons{
    /* border: 1px solid red; */
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}
.icons img{
    width: 100%;
}

.icons p{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
}

.icons a{
    color: black;
    font-size: 18px;
}

.ourcoummunity>p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 50px ;
    
}

.ourcoummunity+p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
}



/* image */
.ourcoummunity{
    /* border: 1px solid red; */
    margin: 50px auto;
    padding: 30px 0px;
    padding-bottom: 100px;
    background-color: lightgrey;

}
.communityClothes{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 20px;
    padding: 0px 20px;
}
.communityClothes img{
    width: 100%;
}
.communityClothes p{
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}
.communityClothes a{
    color: black;
}

/* image */


.fashion+button{
    border: 2px solid black;
    background-color: white;
    font-weight: bold;
    margin: 50px;
    margin-left: 42%;
    padding: 15px 50px;
}
.fashion+button:hover{
    border: 2px solid grey;
    background-color: grey;
    color: white;
}
.easy{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    border-top: 1px solid grey;
    padding-top: 50px;
}
.easyWay{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    text-align: center;
}
.easyWay>div{
    /* border: 1px solid red; */
    border-right: 2px solid grey;
    width: 100%;
    height: 150px;
}
.easyWay a{
    color: black;
    margin-top: 50px;
}

.easyWay>div>p:nth-child(1){
    font-weight: bold;
    font-family:serif;
    font-size: 20px;
    margin-top: 10px;
}

.easyWay>div>p:nth-child(2){
    margin-top: 20px;
    font-weight: bold;
}

.easyWay>div>p:nth-child(4){
    margin-bottom: 20px;
}

/* image */
.fashion{
    /* border: 1px solid red; */
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.fashion img{
    width: 100%;
    margin-bottom: 20px;
}
.fashion a{
    color: black;
    font-size: 18px;
}

/* image */

.footer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.footer>div>img{
    width: 100px;
}
.footer>div:nth-child(1){
   margin: 30px;
}
.footer>div:nth-child(1)>p{
    text-decoration:underline;
    margin: 20px 0px;
}
.footer>div:nth-child(1)>div>i{
   font-size: 25px;
   margin-right: 10px;
}


.footer a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: grey;
}
.footer h5{
   margin-top: 20px;
   margin-bottom: 5px;
}
.bottomfooter{
    /* border: 1px solid red; */
    margin: 50px 0px;
    text-align: right;
   
}
.bottomfooter>a{
    text-decoration: none;
    color: black;
}
