*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


.top{
    /* border: 1px solid blue; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding:5px 10px;
    
}
.top a{
    color: white;
    font-size: 10px;
}
.logo{
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid grey;
}
.logo>img{
    width: 130px;
    margin-right: 215px;
}
.logo>p{
    font-size: 15px;
    color: grey;
}
.logo>p>a{
    color: grey;
}

/*  */
.navright {
    /* border: 1px solid red; */
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.navright i {
    font-size: 25px;
}

.glass {
    /* border: 1px solid red; */
    position: relative;
}

.hoverglass {
    /* border: 1px solid blue; */
    position: absolute;
    visibility: hidden;
    background-color: white;
    width: 450px;
    height: 600px;
    right: -205px;
}

.hoverglass>div {
    /* border: 1px solid blue; */
    border-bottom: 2px solid black;
    width: 90%;
    margin: 30px;
    display: flex;
}

.hoverglass p {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.hoverglass a {
    display: block;
    margin: 20px 30px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.hoverglass input {
    border: 0px;
    width: 400px;
    outline: none;
    font-size: 19px;
    padding-left: 10px;
}

.glass:hover .hoverglass {
    visibility: visible;
    transition: 0.5s;
}

.user {
    position: relative;
}
.user:hover .hoveruser{
    visibility: visible;
}

.hoveruser {
      /* border: 1px solid blue; */
      position: absolute;
      visibility: hidden;
      background-color: white;
      width: 450px;
      height: 600px;
      right: -130px;
}
.userreward{
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    text-align: center;
    height: 250px;
    padding-top: 20px;
}
.userreward>p:nth-child(1){
    font-size: 35px;
    margin: 25px;
}
.userreward a{
    color: white;
}
.join{
    padding: 10px 30px;
    border: 0px;
    background-color: white;
    margin: 20px;
}
.join>a{
    text-decoration: none;
    color: black;
}
.join:hover{
    padding: 10px 30px;
    border: 0px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
.signin{
    padding: 10px 50px;
    border: 0px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
.signin:hover{
    padding: 10px 50px;
    border: 0px;
    background-color: white;
    color: black;
}
.credit{
    /* border: 1px solid red; */
    width: 90%;
    margin: 20px auto;
    display: flex;
    font-weight: bold;
}
.credit>p{
    margin-left: 20px;
}

.bill{
    /* border: 1px solid red; */
    width: 90%;
    margin: 20px auto;
    display: flex;
    font-weight: bold;
}

.bill>p{
    margin-left: 20px;
}

/*  */

.section{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 50px;
}
.section>div>a{
   margin-left: 50px;
   text-decoration: none;
   color: black;
   font-weight: bold;
}


.women:hover .womenhide{
    visibility: visible;
   transition: all 0.5s;
}

.womenhide{
    position: absolute;
    visibility: hidden;
    
}
.womenhide{
    /* border: 1px solid red; */
    background-color: white;
    width: 96.7%;
    display: flex;
    justify-content: space-evenly;
    left: 0px;
    padding: 20px;
}
.womenhide a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.409);
}
.womenhide>img{
    height: 350px;
    margin-top: 10px;
}
.womenhide h5{
    margin-top: 10px;
}


/* MENS PROPERTY */
.mens:hover .menhide{
    visibility: visible;
   transition: all 0.5s;
}

.menhide{
    position: absolute;
    visibility: hidden;
    
}

.menhide{
    /* border: 1px solid red; */
    background-color: white;
    width: 96.7%;
    display: flex;
    justify-content: space-evenly;
    left: 0px;
    padding: 20px;
}
.menhide a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.409);
}
.menhide>img{
    height: 350px;
    margin-top: 10px;
}
.menhide h5{
    margin-top: 10px;
}

/* ========================CLOTHES WRAP================================ */
.checkout{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}
.checkout>div:nth-child(1){
    /* border: 1px solid black; */
    width: 65%;
}

.checkout>div:nth-child(2){
    /* border: 1px solid black; */
    width: 30%;
}

.checkoutTop{
    /* border: 1px solid green; */
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.checkoutTop>button{
    margin: 50px;
    width: 130px;
    height: 40px;
    background-color: white;
}
.checkoutTop>div{
    margin: 50px;
}
.checkoutTop>div>p{
    margin: 20px auto;
}
.bag{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid grey;
}
.bag h3{
    font-size: 30px;
}
.bag a{
    color: grey;
}
.showProducts{
    margin-top: 50px;
}
.append{
    border: 1px solid grey;
   border-bottom: 0px;
    width: 90;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.append img{
    width: 170px;
   
}
.showDetails{
    /* border: 1px solid red; */
    margin: 0px 10px;
    width: 250px;
}
.showDetails p{
    margin: 10px;
}

.shiping{
    border: 1px solid grey;
    width: 200px;
}
.shiping p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}
.shiping p{
    margin: 10px;
}
.pickup{
    border: 1px solid grey;
    width: 200px;
}
.pickup a{
    color: grey;
}
.pickup p:nth-child(1){
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.pickup p:nth-child(2){
    margin: 10px;
    margin-top: 150px;

}
.handle{
    border: 1px solid grey;
    border-top: 0px;
    display: flex;
    justify-content: space-between;
    color: grey;
    margin-bottom: 20px;
}
.handle>div{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.price{
    color: black;
    font-weight: bold;
}
.handle>div:nth-child(1){
    width: 20%;
    font-weight: bold;
    font-size: 20px;
}
.handle>div:nth-child(2){
    width:30%;
}
.handle>div:nth-child(2)>p{
    text-decoration: underline;
}
.topRight{
    border: 1px solid black;
    height: 250px;
    background-color: black;
}
.topRight p{
    margin: 20px;
    color: white;
}
.topRight p:nth-child(1){
    font-size: 20px;
}
.topRight p:nth-child(2){
    font-size: 25px;
}

.topRight P:last-child{
    border: 1px solid white;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.right p{
    margin: 15px;
}
.right h3{
    margin: 15px;
    font-size: 30px;
}

.promo{
    border: 1px solid;
    margin: 15px;
}

.deliveryDetails{
    border: 1px solid grey;
    width: 92%;
    margin: 10px auto;
}

.deliveryDetails p{
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deliveryDetails b{
    border: 1px solid grey;
    padding: 20px;
}
.deliveryDetails p:nth-child(6){
    border: 0px;
}

.checkoutbtn{
   margin: 15px;
   height: 50px;
   width: 90%;
   font-size: 20px;
   font-weight: bold;
   background-color: black;
   color: white;
}

.checkoutbtn:hover{
    background-color: grey;
    border: 0px;
    transition: 0.5s;
}



/* ========================FOOTER PART============================ */

.footer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.footer>div>img{
    width: 100px;
}
.footer>div:nth-child(1){
   margin: 30px;
}
.footer>div:nth-child(1)>p{
    text-decoration:underline;
    margin: 20px 0px;
}
.footer>div:nth-child(1)>div>i{
   font-size: 25px;
   margin-right: 10px;
}


.footer a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: grey;
}
.footer h5{
   margin-top: 20px;
   margin-bottom: 5px;
}
.bottomfooter{
    /* border: 1px solid red; */
    margin: 50px 0px;
    text-align: right;
   
}
.bottomfooter>a{
    text-decoration: none;
    color: black;
}
